
{% load static %}

<head>  
  {% block title %}
  <title>Acerca de...</title>
  {% endblock%}
  <link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
  <style>
    .texto {
      text-align: center;
      margin-top: 100px; 
    }
    h1{
      margin-left: 350px;
      margin-top: 70px; 
      line-height: 2.5; 
    }
    p {
      margin-left: 350px;
      margin-top: 40px; 
      line-height: 2.0;
    }
  </style>
</head>
<body>

  <div class="texto">
    ¡HOLA! ¿QUERÉS LEER?
  </div>

  <h1><u>¡Bienvenidos!</u></h1>

      <p>Este espacio tiene como fin, <b>incentivar la lectura</b>, mantener al <b>usuario</b> actualizado en la </p>
      <p><b>información,</b> puede acordar con su contenido, <i>analizarlo, actualizarlo, comentarlo y compartirlo.</i></p> 
      <p>Puede estar en <b>desacuerdo</b> con el contenido pudiendo <b>modificarlo o eliminarlo;</b> y también <b>crear</b></p>
      <p>una <i>nueva noticia,</i> editar y subir a la red la misma.</p>
      
</body>
